$primarycolor: #198B1C;
$secondarycolor: #23BA5D;
$accentcolor: #C3CA1D;
$backgroundcolor: #FFFFFD;
$error-red: #DD1F1F;
$error-highlight: #B22020;

$breakpoint-sm: "screen and (max-width: 767px)";
$breakpoint-md: "screen and (min-width: 768px) and (max-width: 1023px)";
$breakpoint-lg : "screen and (min-width: 1024px)";

$tabsize-sm: 7rem;
$tabsize-md: 10rem;
$tabsize-lg: 12rem;
$tab-margin: 1.25rem;
$tab-height: 3.5rem;

$modal-position: 8rem;
